<!DOCTYPE HTML>
{% load staticfiles %}

<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>RollCam</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        	<link rel="icon" type="image/png" href="{% static  'images2/icons/logo4.ico' %}"/>

		<link rel="stylesheet" href="{% static 'assets/css/main.css'%}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{% url 'index' %}" class="logo"><strong>RollCam</strong></a>
					<nav id="nav">
						<a href="{% url 'index' %}" style="text-decoration: none;" >Home</a>
                        <a href="{% url 'ip' %}" style="text-decoration: None" >Add Camera</a>
						<a href="{% url 'about_us'%}">About Us</a>
						<a href="{% url 'logout'%}?next={{request.path}}">Log Out</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to RollCam</h1>
						<h2>New Generation Attendance</h2>
					</header>

					<div class="flex ">

						<div>
                            <h3><a href="{%  url 'present-people' %}">Check Present</a></h3>
							<p>Get the list of all present people<br>with updated times</p>
						</div>

						<div>
                            {% if flag == 0 %}
                            <a href="{% url 'attendance' 1 %}" style="text-decoration:none;"><span class="icon fa-camera"></span></a>
                            <h3>Start App</h3>
							<p></p>
                            {% else %}
                            <a href="{% url 'attendance' 0 %}" style="text-decoration:none;"><span class="icon fa-camera1"></span></a>
                            <h3>Stop App</h3>
							<p></p>
                            {% endif %}

						</div>

						<div>
                            <h3><a href="{%  url 'fraud-people' %}">Who's skipping work?</a></h3>
							<p>Get the list of people who weren't<br>present for more than 1 hour</p>
						</div>

					</div>


					<footer>
						<a href="{% url 'attendance_list' %}" class="button">Attendance Details</a>
					</footer>


				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
<!--
							<div class="image round">
								<img src="images/pic01.jpg" alt="Pic 01" />
							</div>
-->
							<header>
                                <h3><a href="{% url 'list-all' %}">Registered persons</a></h3>
							</header>
							<p>See the list of registered persons in our database</p>
<!--
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
-->
						</article>
						<article>
<!--
							<div class="image round">
								<img src="images/pic02.jpg" alt="Pic 02" />
							</div>
-->
							<header>
                                <h3><a href="{% url 'person-add' %}">Add new person</a></h3>
							</header>
							<p>Add new person in our database</p>
<!--
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
-->
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
<!--
			<footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">onclick="myfunction(); return true;"
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>
-->

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js'%}"></script>
			<script src="{% static 'assets/js/skel.min.js'%}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>


	</body>
</html>
