<html>
<head>
    <meta http-equiv="refresh" content="5">
</head>
<body>


{% if all_person %}
    <h3>Here are all person</h3>
    <ul>
        {%  for person in all_person %}
        <li>
            <a href="/camapp/{{ person.id }}/">{{ person.name }}</a>

<form action="{% url 'person-update' person.id %}" method="post" style="display:inline;"/>
    {% csrf_token %}
    <input type="hidden" name="person_id" value="{{ person.id }}"/>
    <button type="submit" class="btn btn-default btn-sm" value="Delete">
        Update Person
    </button>
</form>



<form action="{% url 'person-delete' person.id %}" method="post" style="display:inline;"/>
    {% csrf_token %}
    <input type="hidden" name="person_id" value="{{ person.id }}"/>
    <button type="submit" class="btn btn-default btn-sm" value="Delete">
        Delete Person
    </button>
</form>

        {% if person.Train_status == 'n' %}
            <form action="{% url 'person-train' person.id %}"  method="post" style="display:inline;"/>
    {% csrf_token %}
    <input type="hidden" name="person_id" value="{{ person.id }}"/>
    <button type="submit" class="btn btn-default btn-sm" value="Delete">
        Train Person
    </button>
</form>
    {% endif %}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <h3>No person registered</h3>
{% endif %}

<a href="{% url 'person-add' %}">Add Person</a>
<br>



<a href="{% url 'list-all' %}">List All</a>
<br>
<form action="{%  url 'present-people' %}" method="post" style="display:inline;"/>
    {% csrf_token %}
    <button type="submit" class="btn btn-default btn-sm" value="Delete">
        Ckeck Present
    </button>
</form>

<br>


<form action="{%  url 'fraud-people' %}" method="post" style="display:inline;"/>
    {% csrf_token %}
    <button type="submit" class="btn btn-default btn-sm" value="Delete">
        Ckeck Fraud
    </button>
</form>

<br>

<form action="{% url 'attendance' %}" method="post" style="display:inline;"/>
    {% csrf_token %}
    <button type="submit" class="btn btn-default btn-sm" value="Delete">
        Start Attendance
    </button>
</form>




<ul class="sidebar-nav">

    ...

   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %}
  </ul>



</body>
</html>




