<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
	<title>List of People</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
        	<link rel="icon" type="image/png" href="{% static  'images2/icons/logo4.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor2/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts2/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static 'fonts2/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static 'vendor2/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static 'vendor2/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor2/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor2/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor2/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'css2/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css2/main.css' %}">
<!--===============================================================================================-->
</head>

<body>

<div class="container-login100" style="background-image: url({% static 'images1/bg-01.jpg' %});">
            <br>
        <br>

    {% if all_people %}
    {% for person in all_people %}
    <div align="center">
				<form class="login100-form validate-form">
                    <br>
                    <br>

					<span class="login100-form-title p-b-26">
						{{ person.name }}
					</span>
                      {% if person.Train_status == 'n' %}
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>

                            <button type="submit" class="login100-form-btn" formaction="../person/{{ person.id }}/train/" value='Train'>Train</button>
						</div>
                    </div>

                    {% endif %}
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>

                            <button type="submit" class="login100-form-btn" formaction="../person/{{ person.id }}/" value='Update'>Update</button>
						</div>
                    </div>

                    <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>

                                <button type="submit" class="login100-form-btn" formaction="../person/{{ person.id }}/delete/" value='Delete'>Delete</button>

                            </div>
                        </div>
                        <br>
                        <br>

                </form>
                </div>

            <br>
        <br>
{% endfor %}
    {% endif %}


</div>
<!--===============================================================================================-->
	<script src="{% static 'vendor2/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor2/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor2/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor2/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor2/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor2/daterangepicker/moment.min.js'%}"></script>
	<script src="{% static 'vendor2/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%  static 'vendor2/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static  'js2/main.js' %}"></script>

</body>
</html>