<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static  'images1/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts1/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static 'fonts1/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static 'vendor1/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static 'vendor1/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'css1/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css1/main.css' %}">
<!--===============================================================================================--></head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						User Registration
					</span>
					
					<div class="wrap-input100 validate-input" >
						<input class="input100" type="text" name="name">
						<span class="focus-input100" data-placeholder="Name"></span>
					</div>

					<div class="wrap-input100 validate-input" >
						<input class="input100" type="number" name="Phoneno">
						<span class="focus-input100" data-placeholder="Phone no"></span>
					</div>

					<label for="file" class="btn">Select 5 Image of user </label>
						<input class="input100" type="file" name="file1">
						<span class="focus-input100" data-placeholder="select image1"></span>

						<input class="input100" type="file" name="file2">
						<span class="focus-input100" data-placeholder="select image2"></span>

						<input class="input100" type="file" name="file3">
						<span class="focus-input100" data-placeholder="select image3"></span>

						<input class="input100" type="file" name="file4">
						<span class="focus-input100" data-placeholder="select image4"></span>

						<input class="input100" type="file" name="file5">
						<span class="focus-input100" data-placeholder="select image5"></span>
					

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="email">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pass">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Login
							</button>
						</div>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class="txt2" href="#">
							Sign Up
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'vendor1/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor1/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/daterangepicker/moment.min.js'%}"></script>
	<script src="{% static 'vendor1/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%  static 'vendor1/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static  'js1/main.js' %}"></script>
</body>
</html>