<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
	<title>Present List</title>
	<meta charset="UTF-8">
        <meta http-equiv="refresh" content="5">

	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
        	<link rel="icon" type="image/png" href="{% static  'images2/icons/logo4.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor3/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts3/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor3/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor3/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor3/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css3/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css3/main.css'%}">
<!--===============================================================================================--></head>
<body style="background-image: url({% static 'images1/bg-01.jpg' %});">
{#	<script>#}
{#        var append_increment = 0;#}
{#        setInterval(function () {#}
{#            $.ajax({#}
{#                typr:"GET",#}
{#                url: {% url 'ajax_of_present' %},#}
{#                data: {'append_increment': append_increment}#}
{#            })#}
{#            .done(fuction(response) {#}
{#                $('#addHere').append(response);#}
{#                append_increment += 5;#}
{#            });#}
{#        },4000)#}
{#    </script>#}
	<div class="limiter" >
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Name</th>
								<th class="column2">Date</th>
								<th class="column3">First Present</th>
                                                                <th class="column4">Latest Present</th>

							</tr>
						</thead>
						<tbody id="addHere">
                                {% for person in present_people %}
								<tr>
									<td class="column1">{{ person.name }}</td>
									<td class="column2">{{ person.date }}</td>
									<td class="column3">{{ person.time1 }}</td>
									<td class="column4">{{ person.ts }}</td>

								</tr>
                                {% endfor %}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="{% static 'vendor3/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor3/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'vendor3/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor3/select2/select2.min.js'%}"></script>

<!--===============================================================================================-->
	<script src="{% static 'js3/main.js'%}"></script>

</body>
</html>
